body {
	font-family:		"Arial", sans-serif;
	color:			black;
	background-color:	white;
        background-image:       url(images/background.gif);
	padding:		0;
	margin:			0;
}
table {
	vertical-align:		top;
	border-collapse:	collapse;
	padding:		0;
	margin:			0;
	border:			none;
}
td, th {
	vertical-align:		top;
	padding:		0;
}
img { 
	border:			none;
}
p img { 
	border:			none;
	padding:		6px;
}
span.headline {
	font-family:		"Arial", sans-serif;
	color:			#ddddff;
	font-size:		x-large;
	font-weight:		bolder;
}
span.em {
	font-family:		"Arial", sans-serif;
	font-weight:		bolder;
}
h1 {
	font-family:		"Arial", sans-serif;
	color:			#8888ff;
	font-weight:		bolder;
	font-size: 		x-large;
}
h2 {
	font-family:		"Arial", sans-serif;
	color:			#8888ff;
	font-weight:		bolder;
	font-size: 		large;
}

/* all of the lower stuff */
table.bottom { 
	/* 			top/bottom	right/left */
	margin:			0		0.5em;
	padding:		0;
	border-collapse:	collapse;
}

/* the navigation menu */
table.menu {
	border:			none;
	width:                  7.7em;
	font-family:		"Arial", sans-serif;
	font-size:		large;
	/*			top	right	bottom	left */
	margin:			0	0.5em	0	0;
	padding:		0	0	0.2em	0;
	color:			black;
	background-color:	#DDDDFF;
	vertical-align:		top;
	border-collapse:	separate;
	border-spacing:		0;
}
table.menu td {
	color:			black;
	background-color:	#DDDDFF;
	font-weight:		normal;
	font-size:		medium;
	margin:			0;
	/*			top	right	bottom	left */
	padding:		0.25em  0.25em  0.25em  0.25em;
	vertical-align:		top;
	text-align:		right;
}
table.menu th {
	color:			black;
	background-color:	#FFFFFF;
	font-weight:		normal;
	font-size:		medium;
	margin:			0;
	/*			top	right	bottom	left */
	padding:		0.25em  0.25em  0.25em  0.25em;
	vertical-align:		top;
	text-align:		right;
}

/* the language menu */
div.langmenu {
	border:			none;
	border-top:		1px dashed white;
	width:                  7.7em;
	font-family:		"Arial", sans-serif;
	font-size:		large;
	/*			top	right	bottom	left */
	margin:			0	0.5em	0	0;
	padding:		0.4em	0	0.4em	0;
	color:			black;
	background-color:	#DDDDFF;
	vertical-align:		top;
	border-collapse:	separate;
	text-align:             center;
}
div.langmenu span img {
	/*			top	right	bottom	left */
	padding:                0.25em  0.25em  0.25em  0.25em;
}
div.paypal {
	border:			none;
	border-top:		1px dashed white;
	width:                  7.7em;
	font-size:		large;
	font-family:		"Arial", sans-serif;
	color:                  blue;
	/*			top	right	bottom	left */
	margin:			0	0.5em	0	0;
	padding:		0.4em	0	0.4em	0;
	background-color:	#DDDDFF;
	text-align:             center;
}
div.paypal span {
	font-size:		small;
}
span.langsel img {
	padding:                0.25em  0.25em  0.25em  0.25em;
	background-color:	white;
}

div.top {
        color:                  black;
        background-color:       #DDDDFF;
        border:                 none;
        width:                  100%;
        padding-top:            0.3em;
        margin:                 0;
        border-collapse:        collapse;
        vertical-align:         middle;
}
table.top {
        color:                  black;
        background-color:       #DDDDFF;
        border:                 none;
        margin:                 0;
        border-collapse:        collapse;
        vertical-align:         middle;
}
td.topleft {
	padding-left:		9.9em;
}
td.sflogo {
	width:			100%;
	text-align:		right;
}
td.sflogo img {
	margin-right:		0.5em;
}
table.topitem {
	margin-right: 		0.5em;
	border:			2px groove;
	border-color:		blue;
	border-bottom:		none;
}
table.topsel {
	margin-right: 		0.5em;
	background-color: 	white;
	border:			2px groove;
	border-color:		blue;
	border-bottom:		none;
}
table.topitem td {
	padding-left:           0.3em;
	padding-right:          0.3em;
	padding-top:            0.3em;
}
table.topsel td {
	padding-left:           0.3em;
	padding-right:          0.3em;
	padding-top:            0.3em;
}
table.sourceforge-box {
	border:			2px ridge;
	border-color:		#ccccff;
	/*			top	right	bottom	left */
	margin:			0.5em	0	0.5em	0.5em;
	padding:		0.5em	0.5em	0.5em	0.5em;
	color:			black;
	background-color:	#DDDDFF;
	vertical-align:		top;
	text-align:		center;
	border-collapse:	separate;
	font-size:		small;
}
table.sourceforge-box td {
	padding: 0.2em;
}
table.link {
	text-align:		center;
}
table.imglist td {
	padding: 		0.2em;
	vertical-align:		middle;
	border:			1px dashed blue;
}
td.imglistimg {
	text-align:		center;
}
table.thumbnails td {
	padding: 		0.2em;
	padding-bottom: 	1em;
	text-align:		center;
}

/* the real text */
td.text {
	padding:		1em;
	font-weight:		normal;
	font-size:		medium;
	margin:			0;
	vertical-align:		top;
	text-align:		left;
}
/*hr {
	width:			100%;
	border-top:		3px	solid	#CCCCCC;
	border-right:		0;
	border-bottom:		0;
	border-left:		0;
	margin-top:		5px;
	padding:		0;
}*/
span.exlink {
	color:                  blue;
}
td.grey {
	color:			black;
	background-color:	#DDDDFF;
	font-family:		"Arial", sans-serif;
	font-size:		medium;
	padding:		0.5em;
	margin:			0;
}

a:link {
	color:			blue;
	background-color:	inherit;
}

a:visited {
	color:			blue;
	background-color:	inherit;
}

div.margin {
	float:			right;
	text-align:		center;
}

div.image {
	text-align:		center;
}

div.image span {
	font-style:		italic;
	font-size:		small;
}
table.lessons {
	width:			100%;
}

table.lessons td {
	width:			50%;
	padding: 		0.2em;
	vertical-align:		top;
	border:			1px dotted blue;
}

table.guestbook {
	width:			100%;
	background-color:	#ddddff;
}

table.guestbook td {
	padding:	        1em;
	border:			1px dotted blue;
}

table.guestbook td table {
	width:			100%;
}

table.guestbook td table td {
	border:			none;
	background-color:	white;
}

table.pagesel {
}

table.pagesel td table {
	background-color:	#ddddff;
}

table.pagesel td table td {
	border:			1px solid blue;
        border-bottom:		none;
	padding:		0.2em;
}

table.pagesel-center {
	margin-left:		0.5em;
	margin-right:		0.5em;
}

table.pagesel-center td {
	background-color:	white;
}

table.journalise {
	background-color:	#ddddff;
	margin-bottom:          1em;
	border:			1px dotted blue;
}

table.journalise td {
	padding:		0.2em;
}

table.news {
	background-color:	#ddddff;
	width:			100%;
	border:			1px dotted blue;
	margin-bottom:		1em;
}

table.news td {
	padding:		0.5em;
}
table.news table {
	width:			100%;
}
	
table.news table td {
	background-color:	white;
}

